* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

/* Generic Classes */

.uppercase {
  text-transform: uppercase;
}

.smaller {
  font-size: 13px;
}

.small {
  font-size: 14px;
}

.gray {
  background-color: gray;
}

.gray-text {
  color: gray;
}

.mr-30 {
  margin-right: 30px;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-around {
  justify-content: space-around;
}

.grid {
  display: grid;
}

/* Nav Section */

.hamburger-icon-mobile {
  display: none;
}

.search-icon-mobile {
  display: none;
}

.tablet-tnw-logo {
  display: none;
}

#first-nav ul li a {
  font-family: "ARS Maquette";
  color: #ffffff99;
}

#first-nav a:hover {
  color: rgb(255, 255, 255);
}

#first-nav ul:first-child li:first-child a {
  color: white;
}

#first-nav {
  height: 32px;
  font-family: "ARS Maquette";
  background-color: #131313;
  list-style: none;
  padding: 10px 20px 10px;
}

/* #first-nav ul li:nth-last-child(n + 2):hover {
  color: red;
} */

#first-nav li {
  list-style-type: none;
}

#first-nav a {
  color: white;
  margin-left: 12px;
}

#second-nav li {
  list-style-type: none;
}

#second-nav a:first-child {
  margin-left: 32px;
  color: #aaa;
}

#second-nav a {
  /* margin-left: 5px; */
}

#second-nav a:hover {
  color: #131313;
}

#second-nav {
  font-family: "Shentox", serif;
  background-color: white;
  /* border-right: 5px solid mistyrose; */
}

/* #second-nav i {
  border-bottom: 2px solid mistyrose;
  padding: 0.8rem;
  border-bottom: solid 3px #aaa;
  margin-bottom: -0.5rem;
} */

.search-icon {
  border-left: 1px solid #eee;
  padding: 13px;
}

.search-icon:hover {
  color: gray;
}

/* Main section Images */
.main-grid-container {
  display: grid;
  grid-template-areas:
    "main-image-1  main-image-1   main-image-2"
    "main-image-1  main-image-1  main-image-3";
  grid-gap: 0.5rem;
}

.main-image-1 {
  position: relative;
  border: 8px solid #eee;
  grid-area: main-image-1;
  background-image: url("assets/main-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  /* height: 32.5rem; */
  /* padding: 27.5rem 1rem 6rem 2rem; */
  font-size: 1rem;
  color: white;
}

#desktop-white-logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -26px;
  margin-top: -10px;
  filter: invert(1);
}

.desktop-date {
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: 30px;
}

.main-image-2 {
  border: 8px solid #eee;
  grid-area: main-image-2;
  background-image: url("assets/main-image-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  color: white;
  padding: 10rem 1rem 6rem 2rem;
}
.main-image-3 {
  border: 8px solid #eee;
  grid-area: main-image-3;
  background-image: url("assets/main-image-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15rem;
  color: white;
  padding: 10rem 1rem 6rem 2rem;
}

/* Mobile */

@media (max-width: 760px) {
  .tablet-tnw-logo {
    display: block;
    /* padding-bottom: 80px; */
    max-height: 48px;
    padding: 16px 20px;
    width: 106px;
  }

  .hamburger-icon-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 16px;
    margin-top: 16px;
  }

  .search-icon-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 16px;
    margin-right: 50px;
  }
  #first-nav,
  #second-nav {
    display: none;
  }

  .main-grid-container {
    /* display: grid; */
    grid-template-areas:
      "main-image-1"
      "main-image-2"
      "main-image-3";
    /* grid-template-columns: 1fr;
    grid-auto-flow: column; */
    margin-top: 48px;
  }

  .main-image-1 {
    grid-area: main-image-1;
    min-height: 200px;
  }

  .main-image-2 {
    grid-area: main-image-2;
  }

  .main-image-3 {
    grid-area: main-image-3;
  }

  #desktop-white-logo {
    display: none;
  }
}

/* Tablet */

@media (max-width: 1024px) {
  .tablet-tnw-logo {
    position: absolute;
    display: block;
    width: 106px;
    height: 80px;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 0 20px;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
  }
  #first-nav {
    position: relative;
    top: 0;
    padding-left: 112px;
    /* left: 106px; */
  }
  #second-nav {
    padding-left: 95px;
    /* position: relative; */
    /* top: 30px; */
    /* left: 106px; */
  }

  #desktop-white-logo {
    display: none;
  }
}
