* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

/* Generic Classes */

/* .share-icon {
  border: solid 3px red;
  color: black;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
} */

.uppercase {
  text-transform: uppercase;
}

.smaller {
  font-size: 13px;
}

.small {
  font-size: 14px;
}

.gray {
  background-color: gray;
}

.gray-text {
  color: gray;
}

.mr-30 {
  margin-right: 30px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.grid {
  display: grid;
}

.bigger {
  font-size: 56px;
}

/* Nav Section */

.hamburger-icon-mobile {
  display: none;
}

.search-icon-mobile {
  display: none;
}

.tablet-tnw-logo {
  display: none;
}

#first-nav ul li a {
  font-family: "ARS Maquette";
  color: #ffffff99;
}

#first-nav a:hover {
  color: rgb(255, 255, 255);
}

#first-nav ul:first-child li:first-child a {
  color: white;
}

#first-nav {
  height: 32px;
  font-family: "ARS Maquette";
  background-color: #131313;
  list-style: none;
  padding: 10px 20px 10px;
}

#first-nav li {
  list-style-type: none;
}

#first-nav a {
  color: white;
  margin-left: 12px;
}

#second-nav li {
  list-style-type: none;
}

#second-nav a:first-child {
  margin-left: 28.5px;
  color: #aaa;
}

#second-nav a:hover {
  color: #131313;
}

#second-nav {
  font-family: "Shentox", serif;
  background-color: white;
}

.search-icon {
  border-left: 1px solid #eee;
  padding: 13px;
}

.search-icon:hover {
  color: gray;
}
/* Desktop */

/* Main section Images */
.main-grid-container {
  border: 8px solid #eee;
  display: grid;
  grid-template-areas:
    "main-1  main-1   main-2"
    "main-1  main-1  main-3";
  grid-gap: 0.5rem;
}

.main-image-1 {
  position: relative;
  /* border: 8px solid #eee; */
  grid-area: main-1;
  background-image: url("assets/main-image-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 545px;
  color: white;
  padding-bottom: 20px;
  padding-left: 20px;
}

.main-image-1 h1 {
  font-family: "Avalon";
  font-size: 45px;
  padding-bottom: 20px;
}

#desktop-white-logo {
  filter: invert(1);
  margin-left: -56px;
  margin-top: -10px;
}

.desktop-date {
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: 30px;
}

.main-image-2 {
  /* border: 8px solid #eee; */
  grid-area: main-2;
  background-image: url("assets/main-image-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* align-items: flex-end; */
  padding: 0 10px 20px 10px;
}

.main-image-2 h2 {
  font-size: 28px;
  font-family: "Avalon";
  padding-bottom: 10px;
}

.main-image-3 {
  /* border: 8px solid #eee; */
  grid-area: main-3;
  background-image: url("assets/main-image-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0 10px 20px 10px;
}

.main-image-3 h2 {
  font-size: 28px;
  font-family: "Avalon";
  padding-bottom: 10px;
}

/* Main section */

#clock--dark {
  /* filter: invert(1); */
  fill: rgba(255, 255, 255, 0.6);
  margin: 0 2px -2px 5px;
}

.fa-share-alt {
  display: block;
  margin: 0 5px 0 8px;
  fill: rgba(255, 255, 255, 0.6);
}

.share-icon {
  fill: #9d9d9d;
  margin-bottom: -6px;
}

.main-wrapper {
  max-width: 1230px;
  height: 4000px;
  border: 4px solid salmon;
  margin: 0 auto;
}

.card-0 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/1-21-796x417.jpg");
  background-size: cover;
  max-width: 883px;
  max-height: 478px;
}

.card-1 {
  width: 95%;
  height: 218px;
  padding: 12px;
}

.latest-news h2 {
  margin: 100px 0 10px 14px;
}

.latest-news h2 a {
  text-decoration: none;
  font-family: "Avalon", serif;
  font-size: 28px;
  color: #ff4422;
}

.latest-news-container {
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 46px;
  /* grid-column-gap: 2px; */
  /* width: 1225px; */
  width: 95%;
  /* height: 480px; */
  /* height: 100vh; */
  border: 3px solid salmon;
  margin: 0 auto;
}

/* Tablet */

@media (max-width: 1024px) {
  .tablet-tnw-logo {
    position: absolute;
    display: block;
    width: 106px;
    height: 80px;
    left: 0;
    top: 0;
    z-index: 100;
    /* padding: 0 20px; */
    background: linear-gradient(to bottom right, #c09, #f42 85%);
  }
  #first-nav {
    position: relative;
    top: 0;
    padding-left: 112px;
    /* left: 106px; */
  }
  #second-nav {
    padding-left: 95px;
    /* position: relative; */
    /* top: 30px; */
    /* left: 106px; */
  }

  #desktop-white-logo {
    display: none;
  }

  .main-grid-container {
    display: grid;
    grid-template-areas:
      "main-image-1  main-image-1   main-image-2 "
      "main-image-1  main-image-1   main-image-3 ";
    grid-gap: 0.5rem;
  }

  .main-image-1 {
    min-height: 466px;
    grid-area: main-image-1;
  }

  .main-image-1 h1 {
    font-size: 40px;
  }
  .main-image-2 {
    min-height: 136px;
    grid-area: main-image-2;
  }

  .main-image-2 h2,
  .main-image-3 h2 {
    font-size: 20px;
  }

  .main-image-3 {
    min-height: 136px;
    grid-area: main-image-3;
  }

  .latest-news-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    width: 100%;
  }

  .card-1 {
    width: 95%;
    height: 218px;
    padding: 12px;
  }
}

/* Mobile */

@media (max-width: 760px) {
  .tablet-tnw-logo {
    display: block;
    /* padding-bottom: 80px; */
    max-height: 48px;
    padding: 16px 20px;
    width: 106px;
  }

  .hamburger-icon-mobile {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 16px;
    margin-top: 16px;
  }

  .search-icon-mobile {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 16px;
    margin-right: 50px;
  }

  .search-icon-mobile:hover {
    filter: invert(1);
    border-left: 1px solid #111;
    border-right: 1px solid #111;
  }

  #first-nav,
  #second-nav {
    display: none;
  }

  #desktop-white-logo,
  .desktop-date {
    display: none;
  }
  .main-grid-container {
    border: none;
    display: grid;
    grid-template-areas:
      "main-1"
      "main-2"
      "main-3";
    /* grid-gap: 0.5rem; */
  }

  .image-1-mobile {
    border-top: 8px solid #eee;
    border-right: 8px solid #eee;
    border-left: 8px solid #eee;
    grid-area: main-1;
    min-height: 210px;
    margin-top: 48px;
    padding-top: 62px;
    padding-left: 10px;
  }

  .image-1-mobile h1 {
    font-size: 20px;
  }

  .image-2-mobile {
    border-right: 8px solid #eee;
    border-left: 8px solid #eee;
    grid-area: main-2;
    min-height: 210px;
    padding-left: 10px;
    padding-top: 62px;
    display: flex;
    /* align-items: flex-start; */
  }

  .image-2-mobile h2 {
    font-size: 20px;
  }

  .image-3-mobile {
    border-right: 8px solid #eee;
    border-left: 8px solid #eee;
    grid-area: main-3;
    min-height: 210px;
    padding-top: 62px;
    padding-left: 10px;
  }

  .image-3-mobile h2 {
    font-size: 20px;
  }

  .latest-news-container {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    width: 100%;
  }

  .card-1 {
    display: flex;
  }

  .card-1 img {
    width: 75px;
    height: 75px;
  }
}
